<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sharkwords!</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  </head>
  <body>
    <section id="shark-img">
      <img src="/static/images/guess0.png">
    </section>

    <a id="play-again" style="display: none;">
      The shark got you! Click here to play again.
    </a>

    <section id="word-container"></section>

    <section id="letter-buttons"></section>
    <script src="/static/js/sharkwords.js"></script>
  </body>
</html>
